POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_SSLMODE=
POSTGRES_DSN=
JWT_SECRET=
ACCESS_TOKEN_TTL_HOURS=
REFRESH_TOKEN_TTL_HOURS=
S3_ENDPOINT=
S3_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
